@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Poppins&display=swap");

unused {
  color: #97b136;
  color: #86a232;
  color: #77952e;

  color: #97b136;
  color: #b13651;
  color: #3651b1;

  color: #97b136;
  color: #b13697;
  color: #3697b1;
}
