#myCarousel {
  /* border-bottom: 1px solid rgba(122, 121, 121, 0.512); */
  /* box-shadow: 1px 2px 3px rgba(4, 48, 73, 0.4); */
}

a .nav-link {
  color: #fff !important;
  padding: 3px !important;
}

a .nav-link:hover {
  color: #b3d33e !important;
}

.sl1 {
  right: 0 !important;
}

/* ........................................................ */
/* .....................IMP................................... */
/* ........................................................ */
/* BUTTON ka positiion carousel-caption se change hoga */
/* ........................................................ */
.carousel-item {
  margin-top: 2.5% !important;
  border-radius: 2% !important;
  /* position: relative; */
  height: 640px; /* Adjust height as needed   !!!!!!!!!!!!!! */
  overflow: hidden;

}

/* Carousel caption style for larger screens */
.carousel-caption1  {
  position: absolute !important;
  bottom: 10% !important;
  left: 77.6% !important;
  right: 5% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;

}

.carousel-caption2 {
  position: absolute !important;
  bottom: 9% !important;
  left: 75% !important;
  right: 5% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

.carousel-caption3 {
  position: absolute !important;
  bottom: 17% !important;
  left: 79% !important;
  right: 5% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

.carousel-caption4 {
  position: absolute !important;
  bottom: 8% !important;
  left: 9% !important;
  right: 8% !important;
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

/* Change the shape of the carousel indicators to circles */
.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: rgba(168, 168, 168, 0.705) !important;
  border: 1px solid rgb(59, 59, 59) !important;
  /* Light and transparent color */
  margin: 0 4px !important;
  padding: 0 !important;
  border: none !important;
}

/* Adjust the style of the active indicator */
.carousel-indicators button.active {

  background-color: rgba(255, 255, 255, 0.833) !important;
  border: 1px solid rgb(59, 59, 59) !important;
}

.btn-success {
  background-color: #97b137 !important;
  color: #fff !important;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.5;
  box-shadow: 2px 2px 5px rgba(4, 48, 73, 0.4) !important;
  box-shadow:inset 2px 2px 5px rgba(1, 88, 30, 0.4) !important;

}

.btn-success:hover {
  background-color: #fff !important;
  color: #b3d33e !important;
  border: 2px solid #b3d33e ;
  box-shadow: 0 .5rem 1rem rgba(15, 28, 51, 0.366) !important;
  /* box-shadow: 2px 2px 5px rgba(4, 48, 73, 0.4); */
}


@media (max-width: 1366px) {
  /* Apply styles for 14-inch laptop screens */

  .carousel-caption1, .carousel-caption2, .carousel-caption3, .carousel-caption4 {
    left: 5%; /* Adjust the position as needed for smaller screens */
  }
  .carousel-caption1  {
    position: absolute !important;
    bottom: 18% !important;
    left: 77.6% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  
  }
  
  .carousel-caption2 {
    position: absolute !important;
    bottom: 19% !important;
    left: 75% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
  .carousel-caption3 {
    position: absolute !important;
    bottom: 24% !important;
    left: 79% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
  .carousel-caption4 {
    position: absolute !important;
    bottom: 18% !important;
    left: 9% !important;
    right: 8% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
}


@media (max-width: 912px) {
  /* Apply styles for 14-inch laptop screens */

  .carousel-caption1, .carousel-caption2, .carousel-caption3, .carousel-caption4 {
    left: 5%; /* Adjust the position as needed for smaller screens */
  }
  .carousel-caption1  {
    position: absolute !important;
    bottom: 14% !important;
    left: 76% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  
  }
  
  .carousel-caption2 {
    position: absolute !important;
    bottom: 15% !important;
    left: 74% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
  .carousel-caption3 {
    position: absolute !important;
    bottom: 15% !important;
    left: 76% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
  .carousel-caption4 {
    position: absolute !important;
    bottom: 13% !important;
    left: 9% !important;
    right: 8% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  .carousel-item {
    margin-top: 4% !important;
    /* position: relative; */
    height: 440px; /* Adjust height as needed   !!!!!!!!!!!!!! */
    overflow: hidden;
  
  }
}


@media (max-width: 886px) {
  /* Apply styles for 14-inch laptop screens */

  .carousel-caption1, .carousel-caption2, .carousel-caption3, .carousel-caption4 {
    left: 5%; /* Adjust the position as needed for smaller screens */
  }
  .carousel-caption1  {
    position: absolute !important;
    bottom: 20% !important;
    left: 76% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  
  }
  
  .carousel-caption2 {
    position: absolute !important;
    bottom: 20% !important;
    left: 74% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
  .carousel-caption3 {
    position: absolute !important;
    bottom: 20% !important;
    left: 76% !important;
    right: 5% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  
  .carousel-caption4 {
    position: absolute !important;
    bottom: 20% !important;
    left: 9% !important;
    right: 8% !important;
    padding-bottom: 15px !important;
    color: #111 !important;
    text-align: left !important;
    z-index: 2;
  }
  .carousel-item {
    margin-top: 4% !important;
    /* position: relative; */
    height: 440px; /* Adjust height as needed   !!!!!!!!!!!!!! */
    overflow: hidden;
  
  }
  .ApplyNowBtn {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 4px 8px; /* Adjust the padding as needed */
    width:126px;
  }
}
/* ........................................................ */
/* .....................IMP................................... */
/* ........................................................ */
/*             Mobile view ke liye yaha se                       */
/* ........................................................ */

/* Add this CSS for mobile view */
@media (max-width: 768px) {
  /* Keep the previous mobile CSS here */
  /* Remove unnecessary styles for mobile view */
  .carousel-indicators {
    list-style: none !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    top: 25 vh !important; /* Adjust the position as needed */
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 2; 
  }

/* Style the active indicator */
.carousel-indicators .active {
  background-color: rgba(255, 255, 255, 0.833) !important;
  border: 1px solid rgb(59, 59, 59) !important;
}

/* .....................IMP................................... */
/* ........................................................ */
/*           Mobile view me carousel ka height adjust karne ke liye                      */
/* ........................................................ */

  .carousel-item {
    margin-top: 1% !important;
    /* position: relative; */
    height: 340px; /* Adjust height as needed   !!!!!!!!!!!!!! */
    overflow: hidden;
  
  }

  .carousel-item img {
    object-fit: cover;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 22px;
    /* border-bottom: 1px solid rgba(122, 121, 121, 0.512);
  box-shadow: 1px 2px 3px rgba(4, 48, 73, 0.4); */
  }
  #myCarousel{

    border-radius: 20px;
  }
  .ApplyNowBtn {
    font-size: 7px; /* Adjust the font size as needed */
    padding: 1px 5px; /* Adjust the padding as needed */
    font-weight: 800;
    width:85px;
  }

  .carousel-item:nth-child(1) img {
    content: url("../../assets/images/M1.jpg");
  }

  .carousel-item:nth-child(2) img {
    content: url("../../assets/images/M2.jpg");
  }

  .carousel-item:nth-child(3) img {
    content: url("../../assets/images/M3.jpg");
  }

  .carousel-item:nth-child(4) img {
    content: url("../../assets/images/M4.jpg");
  }

  /* Carousel caption style for larger screens */
.carousel-caption1  {
  position: absolute !important;
  bottom: 6.4% !important;
  left: 64% !important;
  /* right: 25% !important; */
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;

}

.carousel-caption2 {
  position: absolute !important;
  bottom: 5.3% !important;
  left: 42% !important;
  /* right: 25% !important; */
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

.carousel-caption3 {
 position: absolute !important;
  bottom: 4% !important;
  left: 65% !important;
  /* right: 25% !important; */
  padding-bottom: 15px !important;
  color: #111 !important;
  text-align: left !important;
  z-index: 2;
}

.carousel-caption4 {
  position: absolute !important;
  bottom: 4% !important;
  left: 7% !important;
  /* right: 25% !important; */
  padding-bottom: 15px !important;
  color: #180101 !important;
  text-align: left !important;
  z-index: 2;
}
}
